<div>
    <div>
        <form>
            <label for="goal-name"></label>
            <input type="text"/ name="goal-name">
            <label for="goal-description"></label>
            <input type="text"/ name="goal-description">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>