<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/materialize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>SLP Goalden</title>
</head>

<body>
    <div>
        <header>
            <h1>SLP Goalden</h1>
            {{#if loggedIn}}
            <a href="/dashboard" class="btn waves-effect waves-light">
            <i class="material-icons left">
                   Dashboard
                </i>
            </a>
            <a href="" id="logout" class="btn waves-effect waves-light">
                <i class="material-icons left">
                    Log Out
                </i>
            </a>
            {{/if}}
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>