<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="./stylesheets/materialize.css">
    {{!-- <link rel="stylesheet" href="./stylesheets/style.css"> --}}

    <title>SLP Goalden</title>
</head>
<body>
    <div>
      <header>
          <h1>SLP Goalden</h1>
      </header>
      <main>
          {{{ body }}}
      </main> 
    </div>
       

    
</body>
</html>