<!-- We can use a custom helper to make as many of these as the 
user wants. -->
<div>
    <div>
        <form>
            <label for="Student"></label>
            <input type="text" name="Student"/>
        </form>
    </div>
</div>