<div>
    <h2>
      username
    </h2>
    <ul> 
      {{#each students as |student|}} 
      <li>
        <a href="student/{{student.id}}">
          <h3>
              {{student.last_name}}{{#if student.first_name}}, {{student.first_name}}{{/if}}
          </h3>
        </a>
      </li>
    {{/each}}
    </ul>
  </div>  
<footer>
  <p>SLP Goalden &copy; 2021</p>
    <a class="waves-effect waves-light btn">+ Student</a>
</footer>    
