<div>
  <h2 class="left-align">
    {{username}}
  </h2>
  <div>
    <a href="/students" class="btn waves-effect waves-light">
        Your Students
    </a>
    <a href="/goals" class="btn waves-effect waves-light">
        Your Goals
    </a>
  </div>
</div>
{{!-- <script src="/javascript/dashboard.js"></script> --}}