<div>
  <h2 class="left-align">
    {{username}}
  </h2>
  <div>
    <a href="/students" class="btn waves-effect waves-light">
      <i class="material-icons left">
        Your Students
      </i>
    </a>
    <a href="/goals" class="btn waves-effect waves-light">
      <i class="material-icons right">
        Your Goals
      </i>
    </a>
  </div>
</div>
{{!-- <script src="/javascript/dashboard.js"></script> --}}