<div class="container">
    <div class="container-form">
        <form>
            <label for="goal-name">Name</label>
            <input type="text"/ name="goal-name">
            <label for="goal-description">Description</label>
            <input type="text"/ name="goal-description">
             <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right"></i>
            </button>
        </form>
    </div>
</div>