<div class="goal-form-container">
    <div class="">
        <form class="row" id="goal-form">
            <div class="input-field">
            <label for="goal-name">New Goal Name</label>
            <input type="text" name="goal-name" id="goal-name">
            </div>
            <div class="input-field">
            <label for="goal-desc">New Goal Description</label>
            <input type="text" name="goal-desc" id="goal-desc">
            </div>
             <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

<script src="/javascript/goal-submit.js"></script>