<div>
    <div>
        <h2>Login</h2>
        <form>
            <label for="email_login" class="">Email</label>
            <input type="email" name="email_login" />
            <label for="password_login">Password</label>
            <input type="text" name="password_login" />
            <button type="submit">Login</button>
        </form>
    </div>

    <div>
        <h2>Sign-Up</h2>
        <form>
            <label htmlFor="id" for="username_signup" class="">Username</label>
            <input type="text" name="username_signup"/>
            <label for="email_signup" class="">Email</label>
            <input type="text" name="email_signup" />
            <label for="password_signup">Password</label>
            <input type="text" name="password_signup" />
            <button type="submit">Login</button>
        </form>
    </div>
</div>