<!-- We can use a custom helper to make as many of these as the 
user wants. -->

<div class="student-form-container">
    <div class="container-form">
        <form id="stud-submit" data-userID="{{userId}}" >
            <ol class="student-submit-list row">
                {{#times studNumber}}
                <li>
                    
                    <div class="input-field">
                        <p style="color: rgba(78, 73, 73, 0.428);">Last Name or Alternate Identifier</p>
                        <input type="text" name="last_name" id="last_name"/>
                         
                    </div>
                    <div class="input-field">
                        <p style="color: rgba(78, 73, 73, 0.428);">First Name</p>
                        <input type="text" name="first_name" id="first_name"/>
                        
                    </div>
                </li>
                {{/times}}
            </ol>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

<script src="/javascript/student-submit.js"></script>