<div class="container">
    <form class="row" id="trial-form">
        <h3>Trial Submission Form</h2>
        <div class="input-field">
            <label for="date-input">Date of Trial Session</label>
            <input type="text" class="datepicker" id="date-input">
            <!-- <input type="date" name="date-trial-session"> -->
        </div>
        <div class="input-field">
            <label for="trials-attempted" class="">Trials Attempted</label>
            <input type="text" name="trials-attempted" id="trials-attempted">
        </div>
        <div class="input-field">
            <label for="trials-successful" class="">Trials Successful</label>
            <input type="text" name="trials-successful" id="trials-successful">
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
        <!-- <button type="submit">Submit</button> -->
    </form>
</div>

<script src="/javascript/trial-submit.js"></script>